name: Frontend CI To ECR

on:
  push:
    branches: [ "develop" ] # main 브랜치에 푸시될 때 작동

jobs:
  deploy:
    name: Build Image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Get current time
      uses: josStorer/get-current-time@v2
      id: current-time
      with:
          format: YYYYMMDD-HHmm
          utcOffset: "+09:00"  

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: stagelog/frontend # ⚠️ AWS ECR에서 만든 리포지토리 이름으로 수정하세요!
        IMAGE_TAG: frontend-${{ github.sha }}-${{ steps.current-time.outputs.formattedTime }} # 또는 ${{ github.sha }} 로 커밋별 태그 생성 가능
      run: |
        # -f 옵션으로 Dockerfile의 위치를 지정하고, 
        # 마지막의 . 은 빌드 컨텍스트(소스 코드 루트)를 의미합니다.
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

        docker tag $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY:latest
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
 
                
    


        




