name: Frontend Deploy to Private EC2

on:
  push:
    branches: [ "feature/cicd" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get current time
        uses: josStorer/get-current-time@v2
        id: current-time
        with:
          format: YYYYMMDD-HHmm
          utcOffset: "+09:00" # 한국 시간 기준

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/stagelog-repo:frontend
            ${{ secrets.DOCKERHUB_USERNAME }}/stagelog-repo:frontend-${{ steps.current-time.outputs.formattedTime }}

  # deploy:
  #   needs: build-and-push
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Configure AWS credentials
  #         uses: aws-actions/configure-aws-credentials@v4
  #         with:
  #           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #           aws-region: ${{ secrets.AWS_REGION }}
      
  #     - name: Deploy to Private EC2 via SSM
  #       run: |
  #         # 1. Base64 인코딩 (줄바꿈/특수문자 보호)
  #         ENV_BASE64=$(base64 -w 0 .env)
  #         DOCKER_COMPOSE_BASE64=$(base64 -w 0 docker-compose.yml)

          
  #         # 2. SSM 명령 전달 (파일 생성부터 실행까지 한 번에)
  #         # 'chown -R ec2-user:ec2-user /home/ec2-user/stagelog-api' ssm으로 만들어진 폴더의 권한 변경
  #         aws ssm send-command \
  #           --instance-ids "${{ secrets.CICD_EC2_INSTANCE_ID }}" \
  #           --document-name "AWS-RunShellScript" \
  #           --region ap-northeast-2 \
  #           --parameters "commands=[
  #             'mkdir -p /home/ec2-user/stagelog-api',
  #             'echo \"$ENV_BASE64\" | base64 -d > /home/ec2-user/stagelog-api/.env',
  #             'echo \"$DOCKER_COMPOSE_BASE64\" | base64 -d > /home/ec2-user/stagelog-api/docker-compose.yml',
  #             'chown -R ec2-user:ec2-user /home/ec2-user/stagelog-api',
  #             'cd /home/ec2-user/stagelog-api',
  #             'echo \"${{ secrets.DOCKERHUB_TOKEN }}\" | docker login -u \"${{ secrets.DOCKERHUB_USERNAME }}\" --password-stdin',
  #             'docker-compose pull',
  #             'docker-compose up -d',
  #             'docker image prune -f'
  #           ]"

  #     - name: Deploy to Private EC2 via SSH Proxy (Bastion)
  #       uses: appleboy/ssh-action@v1.0.3
  #       with:
  #         host: ${{ secrets.FE_PRIVATE_IP }}     # 프론트 EC2 사설 IP
  #         username: ubuntu
  #         key: ${{ secrets.EC2_SSH_KEY }}        # 프론트 EC2 키페어 내용
  #         proxy_host: ${{ secrets.BASTION_IP }} # 배스쳔 공인 IP
  #         proxy_username: ubuntu
  #         proxy_key: ${{ secrets.BASTION_KEY }} # 배스쳔 키페어 내용
  #         script: |
  #           sudo docker login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}
  #           sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/my-frontend:latest
  #           sudo docker stop frontend || true
  #           sudo docker rm frontend || true
  #           # 80:80 포트포워딩 실행
  #           sudo docker run -d --name frontend -p 80:80 ${{ secrets.DOCKERHUB_USERNAME }}/my-frontend:latest